p{
	margin: 0;
	padding: 0;
}

body{
	background-color: rgb(255, 245, 245);
}

.content-home{
	background-color: rgb(255, 245, 245);
}

/* header */
.header{
    background-color: #222222;
    padding: 35px 50px;
    position: relative;
}

.logo-img{
    width: 70%;
}

.header-cbp-hrmenu ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
}

.header-cbp-hrmenu > ul > li {
	display: inline-block;
}

.header-cbp-hrmenu > ul > li > a{
    font-weight: 700;
	padding: 0.5em 0.3em;
	color: rgb(214, 214, 214);
    display: inline-block;   
}

.header-cbp-hrmenu > ul > li > a:hover{
	color: rgb(255, 68, 68);
	text-decoration: none;
}

/* nav */
.cbp-hrmenu {
	width: 100%;
	border-bottom: 4px solid rgb(255, 68, 68);
	position: relative;
    z-index: 2;
	background-color: #2c2c2c;
	padding: 5px;
}

/* general ul style */
.cbp-hrmenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* first level ul style */
.cbp-hrmenu > ul,
.cbp-hrmenu .cbp-hrsub-inner {
	width: 90%;
	max-width: 70em;
	margin: 0 auto;
	padding: 0 1.875em;
}

.cbp-hrmenu > ul > li {
	display: inline-block;
}

.cbp-hrmenu > ul > li > a {
	font-weight: 700;
	padding: 1em 0.5em;
	color: rgb(172, 172, 172);
	display: inline-block;
}

.divide{
	color: rgb(214, 214, 214);
}

.cbp-hrmenu > ul > li > a:hover {
	color: rgb(255, 68, 68);
	text-decoration: none;
	/* background-color: white; */
}

/* .cbp-hrmenu > ul > li.cbp-hropen a,
.cbp-hrmenu > ul > li.cbp-hropen > a:hover {
	color: #fff;
	background: rgb(255, 67, 67);
} */

/* sub-menu */
.cbp-hrmenu .cbp-hrsub {
	display: none;
	position: absolute;
	background: rgb(255, 68, 68);
	width: 100%;
	left: 0;
}

li:hover .cbp-hrsub{
	display: block;
	padding-bottom: 3em;
}

li:hover a{
	color: rgb(255, 249, 249);
	text-decoration: none;
}

li a:hover{
	color: rgb(255, 255, 255);
	font-weight: 600;
}

.cbp-hropen .cbp-hrsub {
	display: block;
	padding-bottom: 3em;
}

.cbp-hrmenu .cbp-hrsub-inner > div {
	width: 33%;
	float: left;
	padding: 0 2em 0;
}

.cbp-hrmenu .cbp-hrsub-inner:before,
.cbp-hrmenu .cbp-hrsub-inner:after {
	content: " ";
	display: table;
}

.cbp-hrmenu .cbp-hrsub-inner:after {
	clear: both;
}

.cbp-hrmenu .cbp-hrsub-inner > div a {
	line-height: 2em;
}

.cbp-hrsub h4 {
	color: rgb(255, 68, 68);
	padding: 2em 0 0.6em;
	margin: 0;
	font-size: 160%;
	font-weight: 300;
}

/* Examples for media queries */

@media screen and (max-width: 52.75em) { 

	.cbp-hrmenu {
		font-size: 80%;
	}

}

@media screen and (max-width: 43em) { 

	.cbp-hrmenu {
		font-size: 120%;
		border: none;
	}

	.cbp-hrmenu > ul,
	.cbp-hrmenu .cbp-hrsub-inner {
		width: 100%;
		padding: 0;
	}

	.cbp-hrmenu .cbp-hrsub-inner {
		padding: 0 2em;
		font-size: 75%;
	}

	.cbp-hrmenu > ul > li {
		display: block;
		border-bottom: 4px solid rgb(255, 68, 68);
	}

	.cbp-hrmenu > ul > li > a { 
		display: block;
		padding: 1em 3em;
	}

	.cbp-hrmenu .cbp-hrsub { 
		position: relative;
	}

	.cbp-hrsub h4 {
		padding-top: 0.6em;
	}

}

@media screen and (max-width: 36em) { 
	.cbp-hrmenu .cbp-hrsub-inner > div {
		width: 100%;
		float: none;
		padding: 0 2em;
	}
}

.nav-search{
    position: absolute;
    right: 30px;
    top: 50%;
	transform: translateY(-50%);
	width: 30%;
}

.nav-search-form input[type="text"] {
    /* width:  */
    box-sizing: border-box;
    border: 1px solid white;
    /* border-radius: 5px; */
    outline:none;
	padding: 3px 3px;
	width: 80%;
}

.search-btn{
	padding: 3px;
	border: 1px solid white;
	outline: none;
	background-color: rgba(158, 158, 158, 0);
	color: white;
}

.search-btn:hover{
	background-color: rgb(255, 68, 68);
	border: 1px solid rgb(255, 68, 68);
}

/* footer */
.footer{
	background-color: #222222;
	color: white;
	padding: 80px;
	border-top: 5px solid rgb(255, 68, 68);
}


.footer-block{
    margin: 0 auto;
}

.footer-title{
	color: rgb(255, 68, 68);
}

.ho-divide{
	width: 60%;
	height: 1px;
	border: 1px solid rgb(165, 165, 165);
	margin: 0 auto;
	margin-bottom: 80px;
}

.on-top{
	color: rgb(255, 68, 68);
	font-size: 40px;
	text-align: center;
	margin-top: 40px;
	cursor: pointer;
}
 .on-top a{
	color: rgb(243, 243, 243);
 }

 .on-top a:hover{
	color: rgb(255, 68, 68);
 }

 .icon-bottom{
	font-size: 30px;
	cursor: pointer;
	color: rgb(202, 202, 202);
	 
 }

 .facebook-icon:hover{
	color: #4267b2;
 }

 .youtube-icon:hover{
	 color: #f70000;
 }