.about-title{
    margin: 30px 0 30px;
    color: rgb(255, 68, 68);
}

.about-all-frame{
    text-align: center;
}

.about-all-img{
    width: 60%;
    margin-bottom: 60px;
}

.about-all-desc{
    margin-bottom: 30px;
}

.about-field-frame{
    margin: 25px 0;
}

.about-field-img{
    padding: 0 15px 0 0;
}

.about-field-info{
    background-color: #222222;
    color: rgb(221, 221, 221);
    padding: 20px 20px;
}

.about-field-info-title{
    color: rgb(255, 68, 68);
}

.about-field-icon{
    text-align: center;
    color: rgb(255, 68, 68);
}

.about-member{
    margin-bottom: 50px;
}

.about-member-block{
    margin: 0 auto;
    padding: 0;
    background-color: #222222;
    border: none;
}

.about-member-title{
    color: rgb(255, 68, 68);
}

.about-member-desc{
    color: rgb(221, 221, 221);
}