.comment{
    margin-bottom: 150px;
}

.comment-form{
    margin-bottom: 30px;
}

.comment-title{
    margin: 30px 0 30px;
    color: rgb(255, 68, 68);
}

.comment-textarea:focus{
    border: 1px solid rgb(255, 68, 68);
    box-shadow: 1px 1px 9px 1px  rgb(255, 68, 68);
}

.btn-send{
    background-color: rgb(255, 68, 68);
    color: white;
}

.btn-send:hover{
    background-color: #222222;
    color: white;
    box-shadow: 2px 2px 10px 3px  rgb(255, 68, 68);
}

.comment-info{
    padding: 30px 0 0 0;
}

.comment-block{
	background-color: #2c2c2c;
    padding: 50px 50px;
    margin-bottom: 50px;
}

.comment-ava-img{
    border-radius: 100px;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.comment-block-title{
    color: rgb(255, 68, 68);
}

.comment-block-desc{
    color: rgb(221, 221, 221);
}

.comment-rep-btn{
    color: white;
    font-size: 18px;
}

.comment-rep-btn:hover{
    color: rgb(255, 68, 68);
    cursor: pointer;
}
